/* styles.css */

body {
    color: white; /* background-color, color, border-color */
}

.navbar {
    padding: 1rem;
    background-color:  #1D428A;
}

.navbar {
    padding: 1rem;
    background-color:  #1D428A;
}

.btn-primary:hover {
    background-color:  #1D428A;
    color: black;
}

.hero-background-img {
    position: relative;
    background: rgba(0, 0, 0, 0.3); /* If our image is bright, we can tone it down with this darker overlay */
    padding-top:300px; /* padding for the content inside the image */
    padding-bottom:300px;
}
  
.hero-background-img:after {
    content: "";
    position: absolute;
    background-image: url("./static/photos/jumbotron.png"); /*or pass in a url*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /*puts the image on the back*/
    opacity: 0.5; /* Tone the image down further by giving it transparency */
}

.footer {
    background-color:white;
}

/* href color */
ul.nav li a, ul.nav li a:visited {
    color: purple !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: gold !important;
}

ul.nav li.active a {
    color: #1D428A !important;
}