/* styles.css */

body {
    background-color:whitesmoke;
    color: black; /* background-color, color, border-color */
}

.off-white {
    background-color: whitesmoke;
    color: black;
}

.navbar {
    padding: 1rem;
    background-color:  #1D428A;
}

.navbar {
    padding: 1rem;
    background-color:  #1D428A;
}

.btn-primary:hover {
    background-color:  #1D428A;
    color: black;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    right: 0;
    margin-left: -100px; /* More to the left */
    background-color: darkblue;
}

.dropdown-menu > a:hover, .dropdown-menu > a:focus {
    background-color:black;
}

.navbar-brand {
    margin: 12px 0 0 10;
    display: inline-block;
    background: url(./static/photos/nbaLogo.png) 0 0 no-repeat;
    background-size: 80%;
    width: 68px;
    height: 30px;
}

.footer {
    background-color:white;
}

/* href color */
ul.nav li a, ul.nav li a:visited {
    color: purple !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: gold !important;
}

ul.nav li.active a {
    color: #1D428A !important;
}